<div class="rating">
	<div class="rating__list">
		<a class="rating__element rating__element--selected" href="javascript:">
			<svg class="custom-icon custom-icon-like">
				<use xlink:href="dist/images/icons/svg/symbol-defs.svg#custom-icon-like"></use>
			</svg>
		</a>
		<a class="rating__element rating__element--selected" href="javascript:">
			<svg class="custom-icon custom-icon-like">
				<use xlink:href="dist/images/icons/svg/symbol-defs.svg#custom-icon-like"></use>
			</svg>
		</a>
		<a class="rating__element rating__element--selected" href="javascript:">
			<svg class="custom-icon custom-icon-like">
				<use xlink:href="dist/images/icons/svg/symbol-defs.svg#custom-icon-like"></use>
			</svg>
		</a>
		<a class="rating__element" href="javascript:">
			<svg class="custom-icon custom-icon-like">
				<use xlink:href="dist/images/icons/svg/symbol-defs.svg#custom-icon-like"></use>
			</svg>
		</a>
		<a class="rating__element" href="javascript:">
			<svg class="custom-icon custom-icon-like">
				<use xlink:href="dist/images/icons/svg/symbol-defs.svg#custom-icon-like"></use>
			</svg>
		</a>
	</div>
</div>